.Button {
    padding: $button-padding;
    font-size: $button-font-size;
    border-radius: $button-border-radius;
    border: none;
    background-color: $secondary-color;
    background-image: linear-gradient(
        to top left,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2) 30%,
        rgba(0, 0, 0, 0)
    );
    color: $white-font-color;
    box-shadow: $box-shadow-inset-deep;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
        background-image: linear-gradient(
            to top left,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4) 30%,
            rgba(0, 0, 0, 0)
        );
    }

    &.Active {
        background-color: $accent-color;
    }

    &.Toggle {
        margin: 0;
    }
}

.Tabs {
    height: 100%;
}

.Button-Tab {
    height: 100%;
}

.Button-Statistics {
    margin-right: 1rem;
}
