.Team_Form {
    margin: 1rem;
    padding: 1rem;
}

.Won,
.Draw,
.Lost {
    border: 1px solid black;
    border-radius: 4px;
    margin: 0 2px;
    padding: 4px;
    color: $white-font-color;
}

.Won {
    background-color: green;
}

.Draw {
    background-color: grey;
}

.Lost {
    background-color: red;
}
