.Won,
.Draw,
.Lost {
    border: 0.5px solid #000;
    border-radius: 4px;
    margin: 0 2px;
    padding: 4px;
    color: $white-font-color;
    @include box-shadow(medium);
}

.Won {
    background-color: $win-color;
}

.Draw {
    background-color: $draw-color;
}

.Lost {
    background-color: $lost-color;
}
