.Input {
    width: clamp(150px, 50%, 600px);
    height: 2rem;
    border: none;
    border-radius: $border-radius;
    padding: 6px;
    font-family: inherit;
    font-size: clamp(0.8rem, 1vw, 1.4rem);
    font-weight: 500;
    color: $dark-font-color;
    outline: none;
    background-color: $light-color;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

    &::placeholder {
        color: $dark-font-color;
        opacity: 0.5;
        font-style: italic;
    }

    &:focus {
        border-color: $dark-color;
        box-shadow: $box-shadow-dark;
    }
}
