@import '../abstracts/mixins';

.LeagueCard {
    width: 100%;
    border-radius: $border-radius;
    margin: 1.2rem auto;
    overflow: hidden;
    @include box-shadow(dark);
    transition: opacity 0.6s ease-out;
    opacity: 0;

    &.Visible {
        opacity: 1;
    }

    &__Country-Flag,
    &__Logo {
        object-fit: contain;

        @include screen-size(phone) {
            width: 1rem;
            height: 1rem;
        }
    }

    @include screen-size(tablet) {
        width: 90%;
    }

    @include screen-size(phone) {
        width: 100%;
    }
}

.LeagueCard__Header {
    width: 100%;
    height: auto;
    background-color: $dark-color;
    display: flex;
    align-items: center;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.2rem;

    &-Link {
        color: $white-font-color;
        text-decoration: none;
        font-weight: bold;
    }

    &-Title {
        font-size: clamp(1rem, 3vw, 2rem);
    }
}

.LeagueCard__Matches {
    & .Match__Container:nth-child(odd) {
        background-color: $odd-table-row;
    }

    & .Match__Container:nth-child(even) {
        background-color: $even-table-row;
    }
}
