.Match__Container {
    width: 100%;
    height: auto;
}

.Match__Row {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Match {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Match__Time {
    position: absolute;
    left: 10px;
    font-size: clamp(0.8rem, 1.8vw, 1.2rem);
}

.Match__Team--Link {
    color: $dark-font-color;
    text-decoration: none;
    font-weight: bold;
}

.Match__Team {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Match__Team-Name {
    font-size: clamp(0.8rem, 2vw, 1.5rem);
    margin: 0 5px;
    @include screen-size(phone) {
        max-width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.Match__Team-Logo {
    object-fit: contain;

    @include screen-size(phone) {
        width: 1rem;
        height: 1rem;
    }
}

.Match__Score {
    display: flex;
    margin: 0 clamp(4px, 1vw, 12px);
    font-size: clamp(0.8rem, 2vw, 1.8rem);
    font-weight: bold;
}
