.Player-Statistics__Tables {
    display: flex;
    justify-content: center;
    width: 100%;
    // height: 100%;
    height: 200px;
}

.Player-Statistics__Slider {
    width: 100%;
    height: auto;
    border-radius: $border-radius;
    @include box-shadow(dark);
}

.Statistics-Tables__Container {
    width: 100%;
    height: 100%;
    display: flex;
}

.Statistics-Tables__Parent {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
}

.Statistics-Table {
    table-layout: fixed;
    min-width: 125%;
    height: 100%;
    border-collapse: collapse;
    font-size: 14px;
    white-space: nowrap;
}

.Statistics-Tables__Parent::-webkit-scrollbar {
    height: 0.6rem;
    background-color: $light-color;
}

.Statistics-Tables__Parent::-webkit-scrollbar-thumb {
    background-color: $dark-color;
    border-radius: $border-radius;
}

.Statistics-Table thead tr {
    background-color: $dark-color;
    color: $white-font-color;
}

.Statistics-Table thead th {
    // font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.Statistics-Table th:nth-child(1) {
    width: clamp(120px, 16vw, 300px);
    text-align: left;
    position: sticky;
    left: 0;
    z-index: 10;
    background-color: inherit;
    padding-left: 6px;
}

.Statistics-Table th:nth-child(1)::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}

.Statistics-Table th:not(:first-child) {
    width: auto;
    padding: 6px;
}

.Statistics-Table tbody tr {
    color: $dark-color;
}

.Statistics-Table tbody tr:nth-child(odd) {
    background-color: $odd-table-row;
}

.Statistics-Table tbody tr:nth-child(even) {
    background-color: $even-table-row;
}

.Statistics-Table tbody td {
    text-align: center;
    padding: 6px;
}

// .Statistics-Table tbody th {
//     border: 1px red solid;
//     font-size: 2rem;
// }
