.Player-Statistics {
    width: 100%;
    height: 100%;
    margin: 1rem 0;
}

.Player-Statistics__Container {
    width: 95%;
    height: 100%;
    margin: auto;
}

.Player-Statistics__Tabs {
    width: 100%;
    height: 3em;
    margin-bottom: 1rem;
}

.Player-Statistics__Buttons {
    margin-bottom: 1rem;
}
