.Player-Statistics__Tables {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.Player-Statistics__Slider {
    width: 100%;
    height: 300px;
    border-radius: $border-radius;
    @include box-shadow(dark);
}

.Statistics-Table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.Statistics-Table thead tr {
    background-color: $dark-color;
    color: $white-font-color;
}

.Statistics-Table thead th {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 6px;
    text-align: center;
}
.Statistics-Table th {
    padding: 6px;
    border: 1px solid transparent;
}

.Statistics-Table th:nth-child(1) {
    width: 25em;
    text-align: left;
    padding-left: 1.5rem;
}

.Statistics-Table th:not(:first-child) {
    width: auto;
}

.Statistics-Table tbody tr {
    color: $dark-color;
}

.Statistics-Table tbody tr:nth-child(odd) {
    background-color: $odd-table-row;
}

.Statistics-Table tbody tr:nth-child(even) {
    background-color: $even-table-row;
}

.Statistics-Table tbody td {
    text-align: center;
    padding: 6px;
}

@media (max-width: 768px) {
    .Statistics-Table th,
    .Statistics-Table td {
        font-size: 10px;
        padding: 4px;
    }

    .Statistics-Table th:nth-child(1) {
        width: 20em;
    }
}
