.Tables {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.Table_Container_Slider {
    width: 98%;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

[class^='Table-'] {
    table-layout: fixed;
    width: 100%;
    height: 100%;
    position: absolute;
    border-collapse: collapse;
    top: 0;
    left: 100%;
    z-index: 10;
    transition: left 0.6s ease-out;
}

@for $i from 1 through 5 {
    .Table_Container_Slider[data-table-pos='#{$i}'] .Table-#{$i} {
        left: 0;
        z-index: 100;
    }
}

thead tr {
    background-color: black;
}

thead th {
    padding: 8px;
    font-size: 14px;
}

thead th:nth-child(1) {
    width: 18em;
}

thead th:not(:first-child) {
    width: 30%;
}

tbody tr {
    height: 1.6rem;
}

tbody tr:nth-child(odd) {
    background-color: rgb(36, 35, 35);
}

tbody tr:nth-child(even) {
    background-color: rgb(77, 77, 77);
}

tbody tr td {
    text-align: center;
}
