@import '../abstracts/variables.scss';

.Standings {
    &__Container {
        width: 90%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        border: 1px solid white;
    }

    &__Header {
        width: 100%;
        height: 100px;
        border: 1px solid red;

        header {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .Standings__Logo-Container {
                width: 100px;
                // height: 100px;
                height: 100%;

                position: relative;
                border: 1px solid orange;
            }

            .Standings__League-Name {
                display: flex;
                flex-direction: column;
                color: $white-font-color;
                font-size: clamp(1.25rem, 0.6413rem + 3.0435vw, 3rem);
                border: 1px solid green;
                padding-left: 8px;

                .Standings__League-Country {
                    // font-size: clamp(1.5rem, 0.6vw + 1.2rem, 2.2rem);
                    font-size: 1.5rem;
                    // color: red;
                    opacity: 0.6;
                }
            }
        }
    }
}

// League Tables Wrapper
.Standings__Tables {
    width: 75%;
    // width: 100%;
    height: 100%;
    margin: auto;
    border: 1px solid orange;
}

// Standings Table
.Standings-Table__Container {
    width: 100%;
    height: 100%;
    border: 1px solid red;
}

.Standings-Table {
    table-layout: $table-layout;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid $dark-color;
    border-spacing: 0;
    border-radius: $border-radius;
    overflow: hidden;
    @include box-shadow(dark);
    color: $dark-color;
    border: 1px solid white;

    &__Group {
        margin: 1rem 0;
        color: $white-font-color;
        font-size: 1.8em;
        border: 1px green solid;
    }

    // Table Head
    thead {
        tr {
            background-color: $dark-color;
            color: $white-font-color;
            height: 2.4rem;

            th {
                font-size: 1rem;
                padding: $padding;
                &:nth-child(1),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7),
                &:nth-child(8) {
                    text-align: center;
                    width: 5%;
                }

                &:nth-child(2) {
                    width: 35%;
                    text-align: left;
                }

                &:nth-child(9) {
                    width: 15%;
                    text-align: left;
                }
            }
        }
    }

    // Table Body
    tbody {
        tr {
            td {
                padding: $padding;
                text-align: center;
                &:nth-child(2) {
                    text-align: left;
                }

                &:nth-child(8) {
                    font-weight: 800;
                }

                &:nth-child(9) {
                    text-align: left;
                }

                a {
                    color: $dark-color;
                    text-decoration: none;
                    font-weight: bolder;
                }

                span.Team-Name {
                    font-weight: bolder;
                    padding-left: 2.2rem;
                }
            }

            &:nth-child(even) {
                background-color: $even-table-row;
            }
            &:nth-child(odd) {
                background-color: $odd-table-row;
            }
        }
    }
}
