@import '../abstracts/variables.scss';

.Standings {
    &__Container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__League-Name {
        margin: 1rem;
        color: $light-color;
    }

    h2 {
        margin: 1rem;
        font-size: 2em;
        color: $light-color;
    }
}

// League Tables Wrapper
.Standings__Tables {
    width: 75%;
    height: 100%;
}

// Standings Table
.Standings-Table__Container {
    width: 100%;
    height: 100%;
}

.Standings-Table {
    table-layout: $table-layout;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid $dark-color;
    border-collapse: collapse;
    color: $dark-color;

    &__Group {
        margin: 1rem 0;
        color: $white-font-color;
        font-size: 1.8em;
    }

    // Table Head
    thead {
        tr {
            background-color: $dark-color;
            color: $white-font-color;
            height: 2.4rem;

            th {
                font-size: 1rem;
                padding: $padding;
                &:nth-child(1),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7),
                &:nth-child(8) {
                    @include text-align-center;
                    width: 5%;
                }

                &:nth-child(2) {
                    width: 35%;
                    text-align: left;
                }

                &:nth-child(9) {
                    width: 15%;
                    text-align: left;
                }
            }
        }
    }

    // Table Body
    tbody {
        tr {
            border-bottom: 1px solid $dark-color;
            td {
                padding: $padding;

                @include text-align-center;
                &:nth-child(2) {
                    text-align: left;
                }

                &:nth-child(8) {
                    font-weight: 800;
                }

                &:nth-child(9) {
                    text-align: left;
                }

                a {
                    color: $dark-color;
                    text-decoration: none;
                    font-weight: bolder;
                }

                span.Team-Name {
                    font-weight: bolder;
                    padding-left: 2.2rem;
                }
            }

            &:nth-child(even) {
                background-color: $even-table-row;
            }
            &:nth-child(odd) {
                background-color: $odd-table-row;
            }
        }
    }
}
