.Statistics-Card {
    max-width: 100%;
    width: 160px;
    height: 160px;
    border: $white-font-color 1px solid;
    border-radius: $border-radius;
    background-color: $light-color;
    color: $base-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include box-shadow(medium);
    border: 1px solid green;
}

.Statistics-Card__Title {
    text-align: center;
    font-size: 1em;
    padding: 0.5rem;
}

.Statistics-Card__Content {
    font-size: 2.8rem;
    padding: 0.5rem;
}

.Red__Card,
.Yellow__Card {
    font-size: 1.2rem;
    margin-bottom: 4px;
}
