.Statistics_Buttons {
    // border: 1px orange solid;
    margin-bottom: 1rem;
}

.General_Button.Active {
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(
        to top left,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2) 30%,
        rgba(0, 0, 0, 0)
    );
    color: white;
}

.General_Button,
.Attacking_Button,
.Defending_Button {
    padding: 6px 14px;
    font-size: 1rem;
    margin: 0 1rem 0 0;
    border-radius: 6px;
    border: 0;
    background-color: white;
    color: #031525;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
        inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.Button:hover {
    transform: scale(98%);
}
