.Statistics-Card {
    width: 160px;
    height: 160px;
    border: $white-font-color 1px solid;
    border-radius: $border-radius;
    background-color: $light-color;
    color: $base-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include box-shadow(medium);
}

.Statistics-Card__Title {
    margin-bottom: 8px;
    font-size: 1.2em;
}

.Statistics-Card__Content {
    font-size: 3rem;
}

.Red__Card,
.Yellow__Card {
    font-size: 1.2rem;
    margin-bottom: 4px;
}
