.Tabs {
    display: flex;
    margin-bottom: 1rem;
    border: 1px white solid;
}

.Tab {
    background-color: inherit;
    border: none;
    outline: none;
    padding: 14px 16px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.Tab.Active {
    background-color: #022543;
}

.Tab:hover {
    background-color: #022543;
}
