.Team__Statistics {
    width: 100%;
    height: 100%;
    margin: 1rem 0;
}

.Team-Statistics_List {
    width: 100%;
    height: 100%;
    // margin: 1rem 0;
}

.Statistics__List {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // color: white;
    list-style-type: none;
}

.Team__Form {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    // color: white;
}

.List__Item {
    margin: 0 8px;
}
