.Team_Statistics {
    width: 100%;
    height: 100%;
    margin: 1rem 0;
}

.All_Statistics_List {
    width: 100%;
    height: 100%;
    margin: 1rem 0;
}

.Statistics_List {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    list-style-type: none;
}

.Team_Form {
    margin: 1rem;
    padding: 1rem;
    color: white;
}

.List_Item {
    margin: 0 12px;
}
