.Team__Facts {
    width: 100%;
    height: 100%;
    margin: 1rem 0;
    display: flex;
    color: $light-color;
}

.Team__Details,
.Team__Venue {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Team__Logo-Container,
.Team__VenueImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    background-color: $light-color;
    border-radius: $border-radius-circle;
}

.Team-Logo__Image,
.Team-Venue__Image {
    border-radius: inherit;
    @include box-shadow(medium);
}
