.Team__Squad {
    width: 100%;
    height: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Team__Squad--Unavailable {
    text-align: center;
    margin: 1rem 0;
    font-size: 2rem;
    color: $white-font-color;
}

.Squad {
    border: red 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4px;
    width: 100%;
    height: 100%;
    color: $white-font-color;
}

.Squad__Position-Container {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // margin-bottom: 1rem;
    margin: 4px;
}

.Squad__Position-Heading {
    border: 1px solid orange;
    font-size: 2.4em;
    color: $light-color;
    margin: 4px;
}

.Squad__Players {
    border: 1px orange solid;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include screen-size(tablet) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include screen-size(phone) {
        grid-template-columns: 1fr;
    }
    margin: 4px;
}

.Player-Card {
    width: $card-width;
    height: $card-height;
    border-radius: $border-radius;
    background-color: $light-color;
    margin: 1rem;
    transition: all 0.6s ease;
    @include box-shadow(medium);
}

.Player-Card:hover {
    transform: translateY(-8px);
    @include box-shadow(dark);
}

.Player-Card__Link {
    color: $dark-font-color;
    text-decoration: none;
}

.Player-Card__Content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: inherit;
}

.Player-Card__Photo {
    border-radius: $border-radius-circle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Player-Card__Image {
    border-radius: inherit;
    @include box-shadow(light);
}

.Player-Card__Info {
    line-height: 1.6rem;
    text-wrap: wrap;
    padding: 10px 12px;
}
