.Fixtures__Container {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Fixtures__Controls {
    display: flex;
    justify-content: space-between;
}

.Fixtures {
    width: 100%;
    padding: 0.8rem;
}

.Date {
    font-size: 2em;
    color: white;
}
