// box-shadow mixin
@mixin box-shadow($level: medium) {
    @if $level == light {
        box-shadow: $box-shadow-light;
    } @else if $level == medium {
        box-shadow: $box-shadow-medium;
    } @else if $level == dark {
        box-shadow: $box-shadow-dark;
    } @else {
        box-shadow: none;
    }
}

@mixin screen-size($size) {
    @if $size == tablet {
        @media (max-width: 768px) {
            @content;
        }
    } @else if $size == phone {
        @media (max-width: 480px) {
            @content;
        }
    }
}
