@mixin Link($color: $white-font-color) {
    text-decoration: none;
    color: $color;
}

@mixin box-shadow($x, $y, $blur, $color) {
    box-shadow: $x $y $blur $color;
}

// Mixins
@mixin text-align-center {
    text-align: center;
}
