$base-color: #031525;
$borderRadius: 8px;
$primary-font: 'Roboto Mono', monospace;
$white-font-color: #f3f6f4;
$dark-font-color: #252121;
$max-match-rows: 100;
$card-width: 250px;
$card-height: 250px;
