// // Color Palette
$base-color: #1c2e4a; // Navy blue for primary background.
$secondary-color: #b9b9b9; // light gray for buttons.
$light-color: #f4f7f9; // Soft off-white for backgrounds or font
$accent-color: #860912; // Warm coral red for highlights or call-to-action buttons
$dark-color: #363535; // Charcoal gray for table row borders and dividers
$win-color: #28a745;
$draw-color: #6c757d;
$lost-color: #dc3545;

// Box Shadow shadow variables
$box-shadow-light: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$box-shadow-medium: 0 4px 6px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.12);
$box-shadow-dark: 0 10px 15px rgba(0, 0, 0, 0.3), 0 4px 6px rgba(0, 0, 0, 0.2);

$box-shadow-inset-deep: inset 2px 2px 3px rgba(0, 0, 0, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6), 0 10px 15px rgba(0, 0, 0, 0.3),
    0 4px 6px rgba(0, 0, 0, 0.2);

// Define reusable button styles
$button-padding: 6px 16px;
$button-font-size: 1rem;
$button-border-radius: 6px;

// Border Radius
$border-radius: 8px; // Standard border radius
$border-radius-circle: 50%; // Full circular shape (for avatars, icons, etc.)

// Typography
$primary-font: 'Roboto Mono', monospace; // Primary font
$white-font-color: $light-color; // Light font color
$dark-font-color: $dark-color; // Dark font color

// Card Dimensions
$card-width: 250px; // Standard card width
$card-height: 250px; // Standard card height

// Table styling
$padding: 0.5rem;
$table-layout: fixed;
// $even-table-row: #b4b4b4;
$even-table-row: $secondary-color;
$odd-table-row: $light-color;
