// Color Pallete
$base-color: #273043; // Dark base color (primary background or accents)
$secondary-color: #9f9f9f; // Secondary color (for buttons, borders, etc.)
$light-color: #eff6ee; // Light background or font color
$accent-color: #860912; // Accent color (for highlights, buttons, etc.)
$text-color: rgb(46, 46, 46); // Table text color
$dark-color: #363535; // Border for table rows

// Box Shadow
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

// Border Radius
$border-radius: 8px; // Standard border radius
$border-radius-circle: 50%; // Full circular shape (for avatars, icons, etc.)

// Typography
$primary-font: 'Roboto Mono', monospace; // Primary font
$white-font-color: $light-color; // Light font color
$dark-font-color: $text-color; // Dark font color

// Card Dimensions
$card-width: 250px; // Standard card width
$card-height: 250px; // Standard card height

// Table styling
$padding: 0.5rem;
$table-layout: fixed;
// $even-table-row: #b4b4b4;
$even-table-row: $secondary-color;
$odd-table-row: $light-color;
