@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #031525;
  font-family: "Roboto Mono", monospace;
  font-weight: 200;
}

main {
  width: 100%;
  height: 100%;
}

.Fixtures_Container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Fixtures {
  width: 70%;
  border: 2px red solid;
  padding: 0.8rem;
}

.Button.Toggle {
  margin: 0;
}

.Team_Container {
  width: 100%;
  height: 100%;
}

.Player_Container {
  width: 100%;
  height: 100%;
  color: white;
}

.League_Standings {
  width: 100%;
  height: 100%;
}

.League_Name {
  color: white;
  padding-left: 1rem;
  margin: 1rem 0;
  font-size: 2.4em;
}

.Competition {
  width: 100%;
  border: 1px black solid;
  border-radius: 8px;
  margin: 1.8rem 0;
  overflow: hidden;
  box-shadow: 0 2px 4px 2px #f3f6f4;
}

.Competition__League {
  width: 100%;
  height: 3.5rem;
  background-color: black;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.Competition__Link {
  color: white;
  text-decoration: none;
}

.Team_Statistics {
  width: 100%;
  height: 100%;
  margin: 1rem 0;
}

.All_Statistics_List {
  width: 100%;
  height: 100%;
  margin: 1rem 0;
}

.Statistics_List {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  list-style-type: none;
}

.Team_Form {
  margin: 1rem;
  padding: 1rem;
  color: white;
}

.List_Item {
  margin: 0 12px;
}

.Player_Profile {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.Profile {
  width: 90%;
  margin: auto;
  display: flex;
}

.Player_Name {
  flex: 1;
}

.Profile_Info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.6rem;
  padding-left: 1rem;
}

.Name {
  text-align: center;
  padding: 8px;
}

.Profile_Photo {
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 50%;
  border: 1px white solid;
}

.Photo {
  border-radius: inherit;
}

.Team_Squad {
  margin: 1rem 0;
}

.Squad {
  width: 100%;
  height: 100%;
  color: white;
}

.Goalkeepers_Container,
.Defenders_Container,
.Midfielders_Container,
.Attackers_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

.Position_Heading {
  font-size: 42px;
}

.Goalkeepers,
.Defenders,
.Midfielders,
.Attackers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.Player_Card {
  width: 250px;
  height: 250px;
  border-radius: 8px;
  border: white 1px solid;
  margin: 1rem;
  transition: all 0.5s;
}

.Player_Link {
  color: white;
  text-decoration: none;
}

.Player_Card:hover {
  transform: translateY(-8px);
  box-shadow: 1px 2px 8px 2px white;
}

.Player {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: inherit;
}

.Player_Photo,
.Player_Info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.Photo_Container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 10px;
}

.Photo {
  border-radius: inherit;
}

.Content {
  line-height: 1.6rem;
  text-wrap: wrap;
  padding: 10px;
}

.Won,
.Draw,
.Lost {
  border: 1px solid black;
  border-radius: 4px;
  margin: 0 2px;
  padding: 4px;
  color: #f3f6f4;
}

.Won {
  background-color: green;
}

.Draw {
  background-color: grey;
}

.Lost {
  background-color: red;
}

.Card {
  width: 150px;
  height: 150px;
  border: white 1px solid;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Card_Title {
  margin: 12px 0;
  font-size: 18px;
}

.Top_Statistics {
  font-size: 42px;
}

.Red_Card,
.Yellow_Card {
  font-size: 1rem;
}

strong {
  font-size: 24px;
}

.Loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(225, 225, 225, 0.5) 30%, transparent 0 70%, rgb(200, 200, 200) 0) 50%/8% 100%, linear-gradient(90deg, rgba(220, 220, 220, 0.25) 30%, transparent 0 70%, rgba(220, 220, 220, 0.75) 0) 50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}

.Loader::before,
.Loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}

.Loader::after {
  opacity: 0.83;
  transform: rotate(60deg);
}

@keyframes l23 {
  100% {
    transform: rotate(1turn);
  }
}
.Team_Facts {
  width: 100%;
  height: 100%;
  margin: 1rem 0;
  display: flex;
  color: white;
}

.Team,
.Venue {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Team_Logo_Container,
.Venue_Image_Container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Player_Statistics {
  width: 100%;
  height: 100%;
  margin: 1rem 0;
}

.Statistics_Buttons {
  margin-bottom: 1rem;
  padding: 0.8rem 0 0 0.8rem;
}

.Tables {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.Table_Container_Slider {
  width: 98%;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

[class^=Table-] {
  table-layout: fixed;
  width: 100%;
  height: 100%;
  position: absolute;
  border-collapse: collapse;
  top: 0;
  left: 100%;
  z-index: 10;
  transition: left 0.6s ease-out;
}

.Table_Container_Slider[data-table-pos="1"] .Table-1 {
  left: 0;
  z-index: 100;
}

.Table_Container_Slider[data-table-pos="2"] .Table-2 {
  left: 0;
  z-index: 100;
}

.Table_Container_Slider[data-table-pos="3"] .Table-3 {
  left: 0;
  z-index: 100;
}

.Table_Container_Slider[data-table-pos="4"] .Table-4 {
  left: 0;
  z-index: 100;
}

.Table_Container_Slider[data-table-pos="5"] .Table-5 {
  left: 0;
  z-index: 100;
}

thead tr {
  background-color: black;
}

thead th {
  padding: 8px;
  font-size: 14px;
}

thead th:nth-child(1) {
  width: 18em;
}

thead th:not(:first-child) {
  width: 30%;
}

tbody tr {
  height: 1.6rem;
}

tbody tr:nth-child(odd) {
  background-color: rgb(36, 35, 35);
}

tbody tr:nth-child(even) {
  background-color: rgb(77, 77, 77);
}

tbody tr td {
  text-align: center;
}

.League_Tables {
  width: 100%;
  height: 100%;
}

.Table_Group {
  margin: 1rem 0;
  font-size: 2em;
  color: #ccc;
}

.Table_Container {
  width: 75%;
  height: 100%;
  margin: 1rem auto;
}

.Standings_Table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  color: rgb(46, 46, 46);
}
.Standings_Table thead tr {
  color: #fff;
  height: 2.4rem;
}
.Standings_Table thead tr th {
  font-size: 1rem;
  padding: 0.5rem;
}
.Standings_Table thead tr th:nth-child(1), .Standings_Table thead tr th:nth-child(3), .Standings_Table thead tr th:nth-child(4), .Standings_Table thead tr th:nth-child(5), .Standings_Table thead tr th:nth-child(6), .Standings_Table thead tr th:nth-child(7), .Standings_Table thead tr th:nth-child(8) {
  text-align: center;
  width: 5%;
}
.Standings_Table thead tr th:nth-child(2) {
  width: 35%;
  text-align: left;
}
.Standings_Table thead tr th:nth-child(9) {
  width: 15%;
  text-align: left;
}
.Standings_Table tbody tr {
  background-color: #fff;
}
.Standings_Table tbody tr td {
  padding: 0.5rem;
  border-bottom: 1px solid #d7d7d7;
  text-align: center;
}
.Standings_Table tbody tr td:nth-child(2) {
  text-align: left;
}
.Standings_Table tbody tr td:nth-child(8) {
  font-weight: 800;
}
.Standings_Table tbody tr td:nth-child(9) {
  text-align: left;
}
.Standings_Table tbody tr td a {
  color: rgb(46, 46, 46);
  text-decoration: none;
  font-weight: bolder;
}

.Button {
  padding: 6px 14px;
  font-size: 1rem;
  margin: 0 0.8rem;
  border-radius: 6px;
  border: 0;
  background-color: white;
  color: #031525;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: transform 0.5s ease;
}

.Button:hover {
  transform: scale(98%);
}

.Button.Active {
  background-color: rgb(220, 0, 0);
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  color: white;
}

.Match__Container {
  width: 100%;
  height: 4.2rem;
}

.Match__Container:nth-child(odd) {
  background-color: #e7e7e7;
}

.Match__Container:nth-child(even) {
  background-color: #c4c4c4;
}

.Match__Row {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Match {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Match__Time {
  position: absolute;
  left: 10px;
  border: 1px red solid;
}

.Match__Team a {
  color: #1e1e1e;
  text-decoration: none;
}

.Match__Team--Home {
  border: 1px green solid;
}

.Match__Team--Away {
  border: 1px orange solid;
}

.Match__Score {
  border: 1px black solid;
  margin: 0 8px;
}

/*# sourceMappingURL=main.css.map */
