@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #1c2e4a;
  font-family: "Roboto Mono", monospace;
  font-weight: 200;
}

main {
  width: 100%;
  height: 100%;
}

.Matches {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Matches__Container {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Matches__Controls {
  width: 100%;
  height: 4.5rem;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Matches__List {
  width: 100%;
}

.Match__Date .Date {
  font-size: 2em;
  color: #f4f7f9;
}

.Team {
  width: 100%;
  height: 100%;
}

.Team__Container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1c2e4a;
  color: #f4f7f9;
}

.Player {
  width: 100%;
  height: 100%;
}

.Player__Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Standings {
  width: 100%;
  height: 100%;
}

.LeagueCard {
  width: 100%;
  border-radius: 8px;
  margin: 1.8rem 0;
  overflow: hidden;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3), 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: opacity 0.6s ease-out;
  opacity: 0;
}
.LeagueCard.Visible {
  opacity: 1;
}

.LeagueCard__Header {
  width: 100%;
  height: 3.5rem;
  background-color: #363535;
  display: flex;
  align-items: center;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}
.LeagueCard__Header-Link {
  color: #f4f7f9;
  text-decoration: none;
  font-weight: bold;
}

.LeagueCard__Matches .Match__Container:nth-child(odd) {
  background-color: #f4f7f9;
}
.LeagueCard__Matches .Match__Container:nth-child(even) {
  background-color: #b9b9b9;
}

.Team__Statistics {
  width: 100%;
  height: 100%;
  margin: 1rem 0;
}

.Team__Statistics:has(.Loader) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Team-Statistics__List {
  width: 100%;
  height: 100%;
}

.Statistics__List {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.Team__Form {
  display: flex;
  margin: 1rem;
  padding: 1rem;
}

.List__Item {
  margin: 0 6px;
}

.Player-Profile {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  padding-bottom: 1rem;
  color: #f4f7f9;
}

.Player-Profile__Container {
  width: 90%;
  margin: auto;
  display: flex;
}

.Player-Profile__Header {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Player-Profile__Name {
  padding: 12px 0;
}

.Player-Profile__Photo-Container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3), 0 4px 6px rgba(0, 0, 0, 0.2);
}

.Player-Profile__Photo {
  border-radius: inherit;
}

.Player-Profile__Info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.6rem;
  padding-left: 1rem;
}

.Team__Squad {
  width: 100%;
  height: 100%;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Team__Squad--Unavailable {
  text-align: center;
  margin: 1rem 0;
  font-size: 2rem;
  color: #f4f7f9;
}

.Squad {
  width: 100%;
  height: 100%;
  color: #f4f7f9;
}

.Squad__Position-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

.Squad__Position-Heading {
  font-size: 2.4em;
  color: #f4f7f9;
}

.Squad__Players {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.Player-Card {
  width: 250px;
  height: 250px;
  border-radius: 8px;
  background-color: #f4f7f9;
  margin: 1rem;
  transition: all 0.6s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.12);
}

.Player-Card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3), 0 4px 6px rgba(0, 0, 0, 0.2);
}

.Player-Card__Link {
  color: #363535;
  text-decoration: none;
}

.Player-Card__Content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: inherit;
}

.Player-Card__Photo {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Player-Card__Image {
  border-radius: inherit;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.Player-Card__Info {
  line-height: 1.6rem;
  text-wrap: wrap;
  padding: 10px 12px;
}

.Won,
.Draw,
.Lost {
  border: 0.5px solid #000;
  border-radius: 4px;
  margin: 0 2px;
  padding: 4px;
  color: #f4f7f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.12);
}

.Won {
  background-color: #28a745;
}

.Draw {
  background-color: #6c757d;
}

.Lost {
  background-color: #dc3545;
}

.Statistics-Card {
  width: 160px;
  height: 160px;
  border: #f4f7f9 1px solid;
  border-radius: 8px;
  background-color: #f4f7f9;
  color: #1c2e4a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.12);
}

.Statistics-Card__Title {
  margin-bottom: 8px;
  font-size: 1.2em;
}

.Statistics-Card__Content {
  font-size: 3rem;
}

.Red__Card,
.Yellow__Card {
  font-size: 1.2rem;
  margin-bottom: 4px;
}

.Loader {
  width: 50px;
  margin: 1rem;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(225, 225, 225, 0.5) 30%, transparent 0 70%, rgb(200, 200, 200) 0) 50%/8% 100%, linear-gradient(90deg, rgba(220, 220, 220, 0.25) 30%, transparent 0 70%, rgba(220, 220, 220, 0.75) 0) 50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}

.Loader::before,
.Loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}

.Loader::after {
  opacity: 0.83;
  transform: rotate(60deg);
}

@keyframes l23 {
  100% {
    transform: rotate(1turn);
  }
}
.Team__Facts {
  width: 100%;
  height: 100%;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f4f7f9;
}

.Team__Details,
.Team__Venue {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Team__Logo-Container,
.Team__VenueImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #f4f7f9;
  border-radius: 50%;
}

.Team-Logo__Image,
.Team-Venue__Image {
  border-radius: inherit;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.12);
}

.Team-Logo__Image {
  object-fit: scale-down;
}

.Team-Venue__Image {
  object-fit: cover;
}

.Player-Statistics {
  width: 100%;
  height: 100%;
  margin: 1rem 0;
}

.Player-Statistics__Container {
  width: 95%;
  height: 100%;
  margin: auto;
}

.Player-Statistics__Tabs {
  width: 100%;
  height: 3em;
  margin-bottom: 1rem;
}

.Player-Statistics__Buttons {
  margin-bottom: 1rem;
}

.Statistics_Buttons {
  margin-bottom: 1rem;
  padding: 0.8rem 0 0 0.8rem;
}

.Player-Statistics__Tables {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.Player-Statistics__Slider {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3), 0 4px 6px rgba(0, 0, 0, 0.2);
}

.Statistics-Table {
  table-layout: fixed;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.Statistics-Table thead tr {
  background-color: #363535;
  color: #f4f7f9;
}

.Statistics-Table thead th {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 6px;
  text-align: center;
}

.Statistics-Table th {
  padding: 6px;
  border: 1px solid transparent;
}

.Statistics-Table th:nth-child(1) {
  width: 25em;
  text-align: left;
  padding-left: 1.5rem;
}

.Statistics-Table th:not(:first-child) {
  width: auto;
}

.Statistics-Table tbody tr {
  color: #363535;
}

.Statistics-Table tbody tr:nth-child(odd) {
  background-color: #f4f7f9;
}

.Statistics-Table tbody tr:nth-child(even) {
  background-color: #b9b9b9;
}

.Statistics-Table tbody td {
  text-align: center;
  padding: 6px;
}

@media (max-width: 768px) {
  .Statistics-Table th,
  .Statistics-Table td {
    font-size: 10px;
    padding: 4px;
  }
  .Statistics-Table th:nth-child(1) {
    width: 20em;
  }
}
.Standings__Container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Standings__League-Name {
  margin: 1rem;
  color: #f4f7f9;
}
.Standings h2 {
  margin: 1rem;
  font-size: 2em;
  color: #f4f7f9;
}

.Standings__Tables {
  width: 75%;
  height: 100%;
}

.Standings-Table__Container {
  width: 100%;
  height: 100%;
}

.Standings-Table {
  table-layout: fixed;
  width: 100%;
  margin: 1rem 0;
  border: 1px solid #363535;
  border-spacing: 0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3), 0 4px 6px rgba(0, 0, 0, 0.2);
  color: #363535;
}
.Standings-Table__Group {
  margin: 1rem 0;
  color: #f4f7f9;
  font-size: 1.8em;
}
.Standings-Table thead tr {
  background-color: #363535;
  color: #f4f7f9;
  height: 2.4rem;
}
.Standings-Table thead tr th {
  font-size: 1rem;
  padding: 0.5rem;
}
.Standings-Table thead tr th:nth-child(1), .Standings-Table thead tr th:nth-child(3), .Standings-Table thead tr th:nth-child(4), .Standings-Table thead tr th:nth-child(5), .Standings-Table thead tr th:nth-child(6), .Standings-Table thead tr th:nth-child(7), .Standings-Table thead tr th:nth-child(8) {
  text-align: center;
  width: 5%;
}
.Standings-Table thead tr th:nth-child(2) {
  width: 35%;
  text-align: left;
}
.Standings-Table thead tr th:nth-child(9) {
  width: 15%;
  text-align: left;
}
.Standings-Table tbody tr td {
  padding: 0.5rem;
  text-align: center;
}
.Standings-Table tbody tr td:nth-child(2) {
  text-align: left;
}
.Standings-Table tbody tr td:nth-child(8) {
  font-weight: 800;
}
.Standings-Table tbody tr td:nth-child(9) {
  text-align: left;
}
.Standings-Table tbody tr td a {
  color: #363535;
  text-decoration: none;
  font-weight: bolder;
}
.Standings-Table tbody tr td span.Team-Name {
  font-weight: bolder;
  padding-left: 2.2rem;
}
.Standings-Table tbody tr:nth-child(even) {
  background-color: #b9b9b9;
}
.Standings-Table tbody tr:nth-child(odd) {
  background-color: #f4f7f9;
}

.Button {
  padding: 6px 16px;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  background-color: #b9b9b9;
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  color: #f4f7f9;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6), 0 10px 15px rgba(0, 0, 0, 0.3), 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.5s ease;
}
.Button:hover {
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) 30%, rgba(0, 0, 0, 0));
}
.Button.Active {
  background-color: #860912;
}
.Button.Toggle {
  margin: 0;
}

.Tabs {
  height: 100%;
}

.Button-Tab {
  height: 100%;
}

.Button-Statistics {
  margin-right: 1rem;
}

.Match__Container {
  width: 100%;
  height: 4.2rem;
}

.Match__Row {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Match {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Match__Time {
  position: absolute;
  left: 10px;
}

.Match__Team a {
  color: #1e1e1e;
  text-decoration: none;
}

.Match__Score {
  margin: 0 8px;
}

.Input {
  width: 100%;
  max-width: 600px;
  min-width: 150px;
  height: 2rem;
  border: none;
  border-radius: 8px;
  padding: 6px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  color: #363535;
  outline: none;
  background-color: #f4f7f9;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.Input::placeholder {
  color: #363535;
  opacity: 0.5;
  font-style: italic;
}
.Input:focus {
  border-color: #363535;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3), 0 4px 6px rgba(0, 0, 0, 0.2);
}

/*# sourceMappingURL=main.css.map */
