.matchesPlayed {
    border: 2px black solid;
}

.goals {
    border: 2px red solid;
}

.biggest {
    border: 2px green solid;
}

.penalties {
    border: 2px blue solid;
}

.cards {
    border: 2px purple solid;
}
